<div class="container-fluid">
    <div class="row content">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="media">
                <img src="../../../assets/images/man7.jpg" class="mr-3 rounded-cirlce" alt="...">
                <div dynamicHeight class="media-body">
                    <mat-tab-group dynamicHeight>
                        <mat-tab label="Short tab">
                          <div class="tabcontent">
                            Small content
                          </div>
                        </mat-tab>
                        <mat-tab label="Long tab">
                          <div class="tabcontent">
                            <div class="card mb-3">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                  <h5 class="card-title">Light card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                  <h5 class="card-title">Light card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                          </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
              </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

