<div class="container-fluid">
  <div class="header text-center">
    <h1>GitGoogle - Profile finder for Github</h1>
    <h4>Checkout the repos, followers and more just by searching for a gituser by their username.</h4>
    <h4>Here's my profile</h4>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 content">
      <div class="media">
        <img src={{user.avatar_url}} class="mr-3 img-responsive img-cirlce" alt="...">
        <div dynamicHeight class="media-body">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Short tab">
              <div class="tabcontent">
                <p>{{user.followers}}</p>
                <p>{{user.login}}</p>
              </div>
            </mat-tab> 
            <mat-tab label="Repositories">
              <div class="tabcontent">
                <div class="card mb-3">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
