<div class="container-fluid">
  <div class="header text-center">
    <h1>GitGoogle - Profile finder for Github</h1>
    <h4>Checkout the repos, followers and more just by searching for a gituser by their username.</h4>
    <h4>Here's my profile</h4>
  </div>
    <div class="content">
      <div class="media">
        <img src={{user.avatar_url}} class="mr-3 img-responsive img-cirlce" alt="...">
        <div dynamicHeight class="media-body">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Short tab">
              <div class="tabcontent">
                <p *ngIf="user.name">Name: {{user.name}}</p>
                <p *ngIf="user.login">Username: {{user.login}}</p>
                <p>Followers: {{user.followers}}</p>
                <p>Following: {{user.following}}</p>
                <p *ngIf="user.public_repos">Number of public repositories: {{user.public_repos}}</p>
                <p *ngIf="user.bio">Bio: {{user.bio}}</p>
                <p *ngIf="user.created_at">Created on: {{user.created_at|date}}</p>
                <p *ngIf="user.email">Email: {{user.email}}</p>
              </div>
            </mat-tab> 
            <mat-tab label="Repositories">
              <div class="tabcontent cards">
                <div class="card" *ngFor="let repo of repos">
                  <div class="card-body">
                    <div class="card-title"><a href={{repo.url}} target="_blank">{{repo.name|titlecase}}</a></div>
                    <p class="card-text" *ngIf="repo.description">{{repo.description}}</p>
                    <p class="card-text" *ngIf="!repo.description">No description is available for this repository</p>
                    <small>Last updated on {{repo.updated_at|date}}</small><br>
                    <div class="card-bottom">
                      <div *ngIf="repo.language">
                        <i class="fas fa-circle"></i>&nbsp;{{repo.language}}
                      </div>&nbsp;&nbsp;
                      <div *ngIf="!repo.language">
                        <i class="fas fa-circle"></i>&nbsp;Undefined
                      </div>&nbsp;&nbsp;
                      <div>
                        {{repo.forks}}&nbsp;<i class="fas fa-code-branch"></i>&nbsp;Forks
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
</div>
