.content{
    padding: 5%;
}
.tabcontent {
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
.media img{
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}
.card {
    /*animates card elements*/
    margin: 3%;
    width: 19rem;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
.cards {
  /*allows for cards to append side by side*/
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}
a{
  text-decoration: none;
}
.card-header{
  padding: 0.5rem;
}