img {
  margin: 0;
}
.navbar {
  justify-content: space-between;
}
.links span {
  padding-right: 1rem;
}
span{
  font-size: 1rem;
  cursor: pointer;
}
.activeRoute{ /*styles router link that is active*/
  color: rgb(180, 4, 86);
}

