<mat-toolbar class="navbar">
  <div style="font-size: 1.5rem;">GitG<span> 
    <img
    width="30"
    alt="Angular Logo"
    src="../assets/images/github.png"
    style="padding-bottom: 10%;"
  /></span>ogle</div>
  <div class="links">
    <a routerLink = "/home" routerLinkActive = "activeRoute">Home</a>
    <form #searchForm="ngForm">
      <div class="input-group" style="width: 13rem">
        <input type="text" class="form-control" placeholder="Search by username" aria-describedby="button-addon2" [(ngModel)]= "username" name="username" style="background-color: transparent; color: white;">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" routerLink = "/search-result" routerLinkActive = "activeRoute" (click)="findProfile(); searchForm.reset()"><a><i class="fas fa-search" style="width:0.4rem;"></i></a></button>
        </div>
      </div>
    </form>
  </div>
</mat-toolbar>