<mat-toolbar class="navbar">
  <div style="font-size: 1.5rem;">GitG<span> 
    <img
    width="30"
    alt="Angular Logo"
    src="../assets/images/github.png"
  /></span>ogle</div>
  <div class="links">
    <a routerLink = "/home" routerLinkActive = "activeRoute">Home</a>
    <div class="input-group" style="width: 14rem">
      <input type="text" class="form-control" placeholder="Search by username" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: transparent; color: white;">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" routerLink = "/search" routerLinkActive = "activeRoute"><a><i class="fas fa-search" style="width:0.4rem;"></i></a></button>
      </div>
    </div>
  </div>
</mat-toolbar>